@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  --background: #fdfdfd;
  --foreground: #484d56;
  --primary: #5a68cf;
  --primary-foreground: #fafafa;

  /* Shades of primary color */

  --brand-primary-25: #f7f8fd;
  --brand-primary-50: #eff0fa;
  --brand-primary-100: #e3e6f7;
  --brand-primary-200: #d0d3f1;
  --brand-primary-300: #a8afe6;
  --brand-primary-400: #818bda;
  --brand-primary-500: #5a68cf;
  --brand-primary-600: #3747be;
  --brand-primary-700: #2c3896;
  --brand-primary-800: #222d77;
  --brand-primary-900: #171e4f;
  --brand-primary-950: #12183f;

  /* neutrals */
  --neutral-25: #fdfdfd;
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e9eaeb;
  --neutral-300: #d5d7da;
  --neutral-400: #a4a7ae;
  --neutral-500: #717680;
  --neutral-600: #535862;
  --neutral-700: #484d56;
  --neutral-800: #252b37;
  --neutral-900: #181d27;
  --neutral-950: #0e1016;

  /* Letter spacing */
  --letter-spacing-md: -3%;
}
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  /* Brand Primary */

  --color-brand-primary-25: var(--brand-primary-25);
  --color-brand-primary-50: var(--brand-primary-50);
  --color-brand-primary-100: var(--brand-primary-100);
  --color-brand-primary-200: var(--brand-primary-200);
  --color-brand-primary-300: var(--brand-primary-300);
  --color-brand-primary-400: var(--brand-primary-400);
  --color-brand-primary-500: var(--brand-primary-500);
  --color-brand-primary-600: var(--brand-primary-600);
  --color-brand-primary-700: var(--brand-primary-700);
  --color-brand-primary-800: var(--brand-primary-800);
  --color-brand-primary-900: var(--brand-primary-900);
  --color-brand-primary-950: var(--brand-primary-950);

  /* neutrals */

  --color-neutral-25: var(--neutral-25);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);

  --tracking-md: var(--letter-spacing-md);
}

body {
  @apply selection:bg-primary selection:text-background;
}
